*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5E63BA;
    padding: 0 10px;
}
.keyboard button:disabled{
    opacity:0.6;
    pointer-events: none;
}
.container{
    width: 850px;
    background: #fff;
    display: flex;
    padding:60px 40px;
    border-radius: 10px;
    align-items: flex-end;
    gap:70px;


}
.hangman-box img{
    max-width: 270px;
}
.hangman-box  h1{
    font-size: 1.45rem;
    margin-top:20px;
    text-align: center;
    text-transform: uppercase;

}

.word-display{
    display: flex;
    list-style: none;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.word-display .letter{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 28px;
    border-bottom:3px solid black;
    margin-bottom:40px;
}
.guessed{
    border-color:transparent !important;
    margin:-40px 0 35px !important;
    border: none !important;
}
.game-box h4{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;

}
.game-box h4 b{
    font-weight: 600;


}
.game-box .guesses-text b{
    color:red;

}
.game-modal.show{
    opacity: 1;
    pointer-events: auto;
    display: flex;

}
.keyboard{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}
.keyboard button{
    color:white;
    outline:none;
    padding: 8px 11.8px;
    border-radius: 4px;
    margin: 3px 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    background:#5E63BA ;
    width: calc(100% /9-5px);
}
.keyboard button:hover{
    cursor: pointer;
    background:#6286C9;
}
.game-modal{
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index:999;
    opacity: 0;
    transition: opacity 0.4s ease;
    background:rgba(0,0,0,0.6);
}
.content{
    background: white;
    max-width: 420px;
    width: 100vw;
    text-align: center;
    border-radius:10px;
    padding: 30px;
}
.game-modal img{
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal h4{
    font-size: 1.5rem;
}
.game-modal p{
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b{
    color:#5E63BA;
    font-weight: 600;
}
.game-modal button{
    padding: 12px 23px;
       background-color: #5E63BA;
       color: white;
       outline: none;
       border: none;
       border-radius:7px;
       cursor: pointer;

}
@media(max-width:782px){
    .container{
        flex-direction: column;
        padding: 30px 15px;
        align-items: center;
    }
    .hangman-box img{
        max-width: 200px;
    }
    .hangman-box h1{
        display: none;
    }

}